.body {
  .col {
    padding: 0 !important;
  }
  .row {
    margin: 0 !important;
    gap: 8px;
  }
  .form-add {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contentQuestionDis {
    min-height: 700px;
  }
}

.upload-avatar {
  .list-image-selected {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
    .img-item {
      margin-right: 10px;
      position: relative;
      .icon {
        top: 40%;
        left: 55%;
        position: absolute;
        display: none;
        background-color: white;
        align-content: center;
        border-radius: 50%;
        text-align: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
      }
      .icon-view {
        top: 40%;
        left: 25%;
        position: absolute;
        display: none;
        background-color: white;
        align-content: center;
        border-radius: 50%;
        text-align: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
      }
    }
    .img-item:hover {
      .icon {
        display: block;
      }
      .icon-view {
        display: block;
      }
    }
    .img-selected {
      width: 100px;
      height: 100px;
      border-radius: 6px;
    }
  }
}
:host::ng-deep {
  .contentQuestionDis {
    .ck.ck-content {
      min-height: 200px;
    }
  }
}
