<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-introduce-article-group-heading"
        data-cy="IntroduceArticleGroupCreateUpdateHeading"
        jhiTranslate="lotteryApp.introduceArticleGroup.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Introduce Article Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="lotteryApp.introduceArticleGroup.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lotteryApp.introduceArticleGroup.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              @if (editForm.get('code')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >Trường này không được vượt quá 50 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lotteryApp.introduceArticleGroup.articleGroupCode" for="field_articleGroupCode"
            >Article Group Code</label
          >
          <input
            type="text"
            class="form-control"
            name="articleGroupCode"
            id="field_articleGroupCode"
            data-cy="articleGroupCode"
            formControlName="articleGroupCode"
          />
          @if (
            editForm.get('articleGroupCode')!.invalid &&
            (editForm.get('articleGroupCode')!.dirty || editForm.get('articleGroupCode')!.touched)
          ) {
            <div>
              @if (editForm.get('articleGroupCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >Trường này không được vượt quá 50 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lotteryApp.introduceArticleGroup.fileId" for="field_fileId">File Id</label>
          <input type="text" class="form-control" name="fileId" id="field_fileId" data-cy="fileId" formControlName="fileId" />
          @if (editForm.get('fileId')!.invalid && (editForm.get('fileId')!.dirty || editForm.get('fileId')!.touched)) {
            <div>
              @if (editForm.get('fileId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }"
                  >Trường này không được vượt quá 250 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lotteryApp.introduceArticleGroup.titleIntroduce" for="field_titleIntroduce"
            >Title Introduce</label
          >
          <input
            type="text"
            class="form-control"
            name="titleIntroduce"
            id="field_titleIntroduce"
            data-cy="titleIntroduce"
            formControlName="titleIntroduce"
          />
          @if (
            editForm.get('titleIntroduce')!.invalid && (editForm.get('titleIntroduce')!.dirty || editForm.get('titleIntroduce')!.touched)
          ) {
            <div>
              @if (editForm.get('titleIntroduce')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }"
                  >Trường này không được vượt quá 500 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lotteryApp.introduceArticleGroup.contentIntroduce" for="field_contentIntroduce"
            >Content Introduce</label
          >
          <input
            type="text"
            class="form-control"
            name="contentIntroduce"
            id="field_contentIntroduce"
            data-cy="contentIntroduce"
            formControlName="contentIntroduce"
          />
          @if (
            editForm.get('contentIntroduce')!.invalid &&
            (editForm.get('contentIntroduce')!.dirty || editForm.get('contentIntroduce')!.touched)
          ) {
            <div>
              @if (editForm.get('contentIntroduce')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }"
                  >Trường này không được vượt quá 2000 ký tự.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
