<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (prizes) {
      <div>
        <h2 data-cy="prizesDetailsHeading"><span jhiTranslate="lotteryApp.prizes.detail.title">Prizes</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="lotteryApp.prizes.id">Id</span></dt>
          <dd>
            <span>{{ prizes.id }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.code">Code</span></dt>
          <dd>
            <span>{{ prizes.code }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.articleCode">Article Code</span></dt>
          <dd>
            <span>{{ prizes.articleCode }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.levelCup">Level Cup</span></dt>
          <dd>
            <span>{{ prizes.levelCup }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.numberPrize">Number Prize</span></dt>
          <dd>
            <span>{{ prizes.numberPrize }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.createTime">Create Time</span></dt>
          <dd>
            <span>{{ prizes.createTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.createName">Create Name</span></dt>
          <dd>
            <span>{{ prizes.createName }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.updateTime">Update Time</span></dt>
          <dd>
            <span>{{ prizes.updateTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lotteryApp.prizes.updateName">Update Name</span></dt>
          <dd>
            <span>{{ prizes.updateName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/prizes', prizes.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
