@if (introduceArticle) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(introduceArticle.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="introduceArticleDeleteDialogHeading" jhiTranslate="entity.delete.title">Xác nhận hành động xóa</h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-introduceArticle-heading"
        jhiTranslate="lotteryApp.introduceArticle.delete.question"
        [translateValues]="{ id: introduceArticle.id }"
      >
        Bạn có chắc là muốn xóa Introduce Article {{ introduceArticle.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
      </button>

      <button id="jhi-confirm-delete-introduceArticle" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Xóa</span>
      </button>
    </div>
  </form>
}
