<div>
  <h2 id="page-heading" data-cy="ArticleGroupHeading">
    <span jhiTranslate="lotteryApp.articleGroup.home.title">Article Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lotteryApp.articleGroup.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article-group"
        [routerLink]="['/article-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lotteryApp.articleGroup.home.createLabel">Thêm mới một Article Group</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (articleGroups?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lotteryApp.articleGroup.home.notFound">No Article Groups found</span>
    </div>
  }

  @if (articleGroups && articleGroups.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mainContent">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.mainContent">Main Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createTime">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.createTime">Create Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateTime">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.updateTime">Update Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createName">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.createName">Create Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateName">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.updateName">Update Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fileName">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.fileName">File Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="filePath">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.filePath">File Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fileId">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.articleGroup.fileId">File Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (articleGroup of articleGroups; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/article-group', articleGroup.id, 'view']">{{ articleGroup.id }}</a>
              </td>
              <td>{{ articleGroup.code }}</td>
              <td>{{ articleGroup.title }}</td>
              <td>{{ articleGroup.mainContent }}</td>
              <td>{{ articleGroup.createTime | formatMediumDatetime }}</td>
              <td>{{ articleGroup.updateTime | formatMediumDatetime }}</td>
              <td>{{ articleGroup.createName }}</td>
              <td>{{ articleGroup.updateName }}</td>
              <td>{{ articleGroup.fileName }}</td>
              <td>{{ articleGroup.filePath }}</td>
              <td>{{ articleGroup.fileId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/article-group', articleGroup.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/article-group', articleGroup.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(articleGroup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (articleGroups && articleGroups.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
