<div>
  <h2 id="page-heading" data-cy="PrizesHeading">
    <span jhiTranslate="lotteryApp.prizes.home.title">Prizes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lotteryApp.prizes.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prizes"
        [routerLink]="['/prizes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lotteryApp.prizes.home.createLabel">Thêm mới một Prizes</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (prizes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lotteryApp.prizes.home.notFound">No Prizes found</span>
    </div>
  }

  @if (prizes && prizes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="articleCode">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.articleCode">Article Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="levelCup">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.levelCup">Level Cup</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numberPrize">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.numberPrize">Number Prize</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createTime">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.createTime">Create Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createName">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.createName">Create Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateTime">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.updateTime">Update Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateName">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.prizes.updateName">Update Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (prizes of prizes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/prizes', prizes.id, 'view']">{{ prizes.id }}</a>
              </td>
              <td>{{ prizes.code }}</td>
              <td>{{ prizes.articleCode }}</td>
              <td>{{ prizes.levelCup }}</td>
              <td>{{ prizes.numberPrize }}</td>
              <td>{{ prizes.createTime | formatMediumDatetime }}</td>
              <td>{{ prizes.createName }}</td>
              <td>{{ prizes.updateTime | formatMediumDatetime }}</td>
              <td>{{ prizes.updateName }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/prizes', prizes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/prizes', prizes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(prizes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (prizes && prizes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
