<div>
  <h2 id="page-heading" data-cy="LevelDepositsHeading">
    <span jhiTranslate="lotteryApp.levelDeposits.home.title">Level Deposits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lotteryApp.levelDeposits.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-level-deposits"
        [routerLink]="['/level-deposits/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lotteryApp.levelDeposits.home.createLabel">Thêm mới một Level Deposits</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (levelDeposits?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lotteryApp.levelDeposits.home.notFound">No Level Deposits found</span>
    </div>
  }

  @if (levelDeposits && levelDeposits.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.levelDeposits.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.levelDeposits.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minPrice">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.levelDeposits.minPrice">Min Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateName">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.levelDeposits.updateName">Update Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateTime">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.levelDeposits.updateTime">Update Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="articleCode">
              <div class="d-flex">
                <span jhiTranslate="lotteryApp.levelDeposits.articleCode">Article Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (levelDeposits of levelDeposits; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/level-deposits', levelDeposits.id, 'view']">{{ levelDeposits.id }}</a>
              </td>
              <td>{{ levelDeposits.code }}</td>
              <td>{{ levelDeposits.minPrice }}</td>
              <td>{{ levelDeposits.updateName }}</td>
              <td>{{ levelDeposits.updateTime | formatMediumDatetime }}</td>
              <td>{{ levelDeposits.articleCode }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/level-deposits', levelDeposits.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/level-deposits', levelDeposits.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(levelDeposits)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (levelDeposits && levelDeposits.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
